



.A (1){
    
    background-color: rgb(128, 87, 6);
    display: flex;
    height: 60px;
font-size: 20px;   
}
.navbar-toggler {
    background-color: aliceblue;
}

.corps{
    background-color: rgb(162, 162, 211);
   height: 800px; 
   color: rgb(116, 141, 101);
   text-align: center;
}
.corpus I{
    display: flex;
    justify-content: space-between; 
}
.corpus I h1{
    margin-top: 200px;
    
}
.corpus I h2{
    margin-top: 208px;
}
.c{
    position: relative;
    font-size: 80px;
    color:blueviolet;
    width: 20px;
}
.c strong{
    color: bisque;
    font-size: 100px;
}
.d flex {
    margin-left: 500px;
    margin-top: 50px;
    font-size: 100px;
}
.fun{
    color: rgb(72, 77, 60);
    font-size: 20px;
}
.fan{
    font-size: 20px;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 20px;
   background-color: rgb(240, 190, 11);
}
.here{
    font-size: 20px;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
   background-color: rgb(210, 15, 181);
}
.fun {
    text-align: center;
}
.un fa{
    text-align: center;
    color: rgb(203, 75, 11);
    font-size: 100px;
}
.une {
    text-align: center;
    font-size: 20px;
}
.M{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.tu{
    font-size: 150px;
    color: rgb(168, 118, 48);
}
.ol{
   padding-right: 50px;
   text-align: center;
}
.rt {
    font-size: 150px;
    color: rgb(168, 118, 48);
    margin-right: 50px;
}
 
.tex {
    font-size: 150px;
    color:  rgb(168, 118, 48);
    margin-left: 50px;
} 
.more {
    background-size:  greenyellow;
    color: greenyellow;
}
.voi i{
    color: rgb(168, 118, 48);
    font-size: 150px;
    margin-left: 50px;
}
.souri {
    font-size: 25px;
    color: rgb(165, 90, 90);
}
.soupe{
    justify-content: space-between;
}
.row img{
    padding: 30px;
}
.personne {
   background-color: orange; 
   height: 750px;
}
.bi-facebook{
    color: blue;
}
.bi-twitter{
    color: rgb(12, 12, 40) light;
}
.bi-youtube{
    color: red;
}
.pourcen {
    font-size: 30px;
}
.got {
   text-align: center; 
}
.question {
  font-size: 40px;  
}
.stay {
   font-size: 25px; 
}
.logo{
    color: chocolate;
    font-size: 40px;
}
.pure {
    font-size: 50px;
    color: antiquewhite;
}
.sit {
    color: antiquewhite;
    font-size: 30px;
}
.by {
    color: antiquewhite;
    font-size: 20px;
}
.ecris {
    font-size: 80px;
    color: white;
}

    
@media screen and (max-width: 300px){
    .I{
        
        flex-direction: column;
        margin: 0%;
    }
    .I h1{
        margin-top: 0;
    }
    .I  h2{
        margin-top: 0;
    }
    .fe{
        flex-flow: wrap;
        font-size: normal;
    }
        
}
    
@media screen and (max-width: 300px){
    .fa{
    font-size: 50px;
    }
        
}
@media screen and (max-width: 300px){
    
        
}
