

.corps{
    background-color: rgb(162, 162, 211);
   height: 800px; 
   color: rgb(116, 141, 101);
   text-align: center;
   
}
.corpus {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: rgb(211, 216, 219);
    
}
.ecis{
    margin-top: 200px;
    font-size: 100px;
    color: orange;
}

.fun{
    color: rgb(122, 132, 101);
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}
.fan{
    font-size: 20px;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 20px;
   background-color: rgb(203, 177, 83);
}
.here{
    font-size: 20px;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
   background-color: rgb(185, 167, 183);
   margin: 5px;
}
.un {
    text-align: center;
    color: rgb(203, 75, 11);
    font-size: 70px;
}
.une {
    text-align: center;
    font-size: 20px;
}
.tu{
    font-size: 150px;
    color: rgb(168, 118, 48);
    margin-left: 50px;    
 }
.tex {
    font-size: 150px;
    color:  rgb(168, 118, 48);
    margin-left: 50px;
    margin-right: 50px;

} 

.lorem {
   margin-left: 50px;
   margin-right: 100px; 

}
.lundi {
  margin-left: 100px; 
    margin-right: 100px;
    
}
.more {
    color: greenyellow;
    border-radius: 10px;
    margin-left: 50px;
}

.souri {
    font-size: 25px;
    color: rgb(165, 90, 90);
}
.soupe{
    justify-content: space-between;
}
.row img{
    padding: 30px;
}
.persone {
   background-color: aqua;
}
.bi-facebook{
    color: blue;
    margin-right: 10px;
}
.bi-twitter{
    color: rgb(61, 61, 159);
    margin-right: 5px;
}
.bi-youtube{
    color: red;
}
.droite{
    display: flex;
    justify-content: end;
    font-size: 30px;
}
.pourcen {
    font-size: 30px;
}
.got {
   text-align: center; 
}
.question {
  font-size: 40px;  
}
.stay {
   font-size: 25px; 
}
.logo{
    color: chocolate;
    font-size: 40px;
}
.pure {
    font-size: 50px;
    color: antiquewhite;
}
.sit {
    color: antiquewhite;
    font-size: 30px;
}
.by {
    color: antiquewhite;
    font-size: 20px;
}


